module "{{ stable_id }}" {
  source            = "./challenge"
  challenge_cluster = local.challenge_cluster
  identifier        = "{{ image }}"

  {% if privileged %}
  privileged        = true
  {% endif %}

  {% if rate_limit %}
  rate_limit        = {{rate_limit}}
  {% endif %}

  {% if env %}
  environment = [
    {% for name, value in env.items() %}
    {
      name  = "{{name}}"
      value = "{{value}}"
    },
    {% endfor %}
  ]
  {% endif %}

  {% if ports %}
  port_mappings = [
    {
    {% for port in ports %}
      {% if port.type == "http" %}
      container_port = {{port.container_port}}
      instance_port  = {{port.instance_port}}
      http_subdomain = "{{port.http_subdomain}}"
      {% else %}
      container_port = {{port.container_port}}
      instance_port  = {{port.instance_port}}
      lb_port        = {{port.lb_port}}
      {% endif %}
    {% endfor %}
    },
  ]
  {% endif %}

  {% if resources.cpu_limit_ms %}
  cpu = {{ resources.cpu_limit_ms }}
  {% endif %}
  {% if resources.memory_limit_mb %}
  memory = {{ resources.memory_limit_mb }}
  {% endif %}
}
